// User defined id and classes

#panel {
  background-color: gray;
  height: 250px;
  overflow-y: scroll;
  width: 350px;
}

#category-time {
  box-shadow: 0px 0px 0px white inset, 0px -2px 0px rgb(63, 81, 181) inset;
  float: right;
  line-height: 1.5em;
  padding-top: 1em;
  text-align: center;
  width: 90px;
}

#task-time {
  float: right;
  text-align: center;
  width: 90px;
}

.task-time-slider {
  position: relative;
  top: -15px;
}

#default-panel > * {
  display: inline-block;
}

#title {
  text-align: center;
  line-height: 50px;
  margin: 0 -3px 0 3px;
  width: 200px;
  font-size: 24px;
  font-weight: 500;
}